body{
    padding: 0;
    margin: 0;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
    height: 100px;
    width: 400px;/*크기조정!*/
    background-color: #34384b;
    border-radius: 50px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    outline: none;
    transition:  0.3s;
}
input[type="checkbox"]:before{
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: #d5d5d5;
    border-radius: 50%;
    left: 20px;
    top: 10px;
    transition:  0.3s;
}
input[type="checkbox"]:after{
    content: "Yes";
    position: absolute;
    color: #d5d5d5;
    font-size: 95px;
    left: 450px;
    bottom: -5px;
    letter-spacing: 1px;
    transition:  0.3s;
}
input[type="checkbox"]:checked{
    background-color: #d5d5d5;
}
input[type="checkbox"]:checked:before{
    background-color: #1f212d;
    left: 290px;    /*크기조정!*/
}
input[type="checkbox"]:checked:after{
    content: "NO";
    color: #1f212d;
}
